body{
    color:var(--color-primary);

    
}
section{
    margin-bottom: calc(5rem + 3vw)
}


.ddw-hero{
    position: sticky;
    width: 100%;
    height: 50vh;
    /* fixes scrolling bug */
    transform: translate3d(0, 0, 0); 
    top: 0;
    background-color: black;
}

.animation{
    height: 100%;
}

main{
    position: sticky;
    top: 0;
    background-color: var(--color-primary-dark);
    padding-inline: calc(.5rem + 1.5625vw)
}



h1{
    font-size: 2.125rem;
    font-weight: 400;
    letter-spacing: -.3vw;
    line-height: 1.05;
    margin-bottom:4rem ;

    /* z-index: 2; */
}

#roles h3{
    margin:1.25rem 0 ;
}

.image-content {
    /* max-width: 54rem; */
    width: 100%;
    overflow:hidden;



}
.image-content img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.two-col{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.flex{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:1rem;

}

.image-grid{
    display: flex;
    flex-direction: column;
    gap:1rem
}

p{
    max-width: 75rem;
}
h2{
    margin: 0;
}


.image-container{
    width: 100%;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* height:100% */

}




@media screen and (min-width: 30rem){
    P{
        font-size: calc(1rem + 10 * (100vw - 30rem) / 760);
    }
    /* h1{
        font-size: calc(1rem + 48 * (100vw - 30rem) / 760);

    } */

    #roles{
        margin-top: 10.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

}

@media screen and (min-width: 51rem){
    .two-col{
        grid-template-columns: 1fr 1fr;
    }
 }
 

@media screen and (min-width: 51rem){
   h1{
        font-size: calc(1rem + 48 * (100vw - 30rem) / 760);

    }
}



@media screen and (min-width: 77rem){

    .ddw-hero{
        height: 100vh;
    }
    .about{
        /* padding-right: 30vw; */
        max-width: 124rem;
    }

    #project-description{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h2{
        padding: 0;
        /* font-size: 5rem; */
        margin: 0;
    }
    h3{
        font-size: 1.5rem;
    }

    #project-description p{

    }
    p,li{
        font-size: 1.5rem;
    }



}

@media screen and (min-width: 130rem){
    h1 {
        font-size: 7.5rem;
        /* letter-spacing: -.5rem; */
    }
}


