
body{
    margin:0 6vw;
}
.hero{
    position: relative;
    
}


.title{
    font-size: clamp(2rem, 8vw + .5rem, 16rem);
    font-weight: 100;
    letter-spacing: -.4vw;
    text-transform: uppercase;
    line-height: clamp(2.5rem, 11vw, 16rem);
    margin: 2rem 0;
}

h1 span{
    display: inline-block;
    position: relative;
    z-index: 400;

}

.span-one{
    margin-left: 8vw;

}
.span-two{
    margin-left: 30vw;

}
.span-three{
    margin-left: 6vw;

}
.span-four{
    margin-left: 20vw;

}

.portrait{
    cursor: pointer;
    position: relative;
    max-width: 65vw;
    margin: auto;

    z-index: 100;

}

.portrait img{

    width: 100%;

    object-fit: cover;
 
}

.load-grid{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8,1fr);

}

#michael1{
    z-index: 1;
    position: relative;
}

#michael2{
    z-index: 0;
    position: absolute;
    left: 0;
}

.grid-item{
    opacity: 1;
    background-color: rgb(255, 255, 255);
}




.card-image img{
width: auto;
    height: 100%;
    object-fit: contain;

}

.work{
    margin-top: 10rem;
    display: grid;
    gap:2rem;
}

.work p {
    max-width: 28rem;
}
.card{
    height:75vh;
    background-color: red;
    overflow: hidden;
}



@media screen and (min-width:45rem) {
    .title{
        font-size: clamp(2.25rem, 8vw + 1rem, 16rem);

    }

    .portrait{
        position: absolute;
        bottom: 0;
        width:21vw;
        height:75%;
        max-width: unset;

        /* overflow: hidden; */
    }
    .portrait img{

        height:100%;
    
     
    }

    .span-one{
        margin:0;
    
    }
    .span-two{
        margin-left: 30vw;
    
    }
    .span-three{
        margin-left: 18vw;
    
    }
    .span-four{
        margin-left: 37vw;
    
    }



    .about{
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }
    .about h2{
        text-transform: uppercase;
    }

    p{
        font-size: 1.25rem;
    }

    .work{
        grid-template-columns: 1fr 1fr;

    }

    /* .card{
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }

    .card-description{
        padding-top:8rem;
    }

    .right{
        grid-template-columns: 1.33fr 1fr;
    } */
}
