

.hero{
    position: relative;

    
}

main{
    margin:0 6vw;
    counter-reset: section;
    
}



.title{
    font-size: clamp(2rem, 8vw + .5rem, 16rem);
    font-weight: 100;
    letter-spacing: -.4vw;
    text-transform: uppercase;
    line-height: clamp(2.5rem, 9vw, 12rem);
    margin: 2rem 0;
}

h1 span{
    display: inline-block;
    position: relative;
    z-index: 400;

}

.span-one{
    margin-left: 8vw;

}
.span-two{
    margin-left: 30vw;

}
.span-three{
    margin-left: 6vw;

}
.span-four{
    margin-left: 20vw;

}

.portrait{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* padding: 2rem; */
    max-width: 32rem;
    margin: auto;
    line-height: 0; /* removes little piece at bottom*/
    z-index: 100;

}

.portrait img{

    width: 100%;
    object-fit: cover;
 
}

.load-grid{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8,1fr);

}

#michael1{
    z-index: 1;
    position: relative;
}

#michael2{
    z-index: 0;
    position: absolute;
    left: 0;
    height:100%
}

.grid-item{
    opacity: 1;
    background-color: var(--color-primary-dark);
    pointer-events: none;
    
}

.image-container{
    height:10vw
}
.image-container img{
    width: 100%;
    height: 100%;
}

.layout::before{
    counter-increment: section;
    content:"("  counter(section) ")";
    position: absolute;
    /* left:3rem; */
    font-size: 2rem;
    transform: translate(-120%,25% );
    counter-increment: section;

}
.proj-card{
    display: flex;
    padding-block:1rem;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    transform-origin:  left;
    transition: .75s;
    height:5rem;
}
.proj-card:hover{
    /* font-size: 4rem; */
    transform: scale(1.25);
    transition: .75s;

}

.proj-links{
    margin-top: 3rem;

}


.layout{
    margin-block: 8rem;
    margin-left: 6vw;


}

.layout h2{
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: -.175rem;
    margin: 0;
}


.layout p{
    font-size: 2rem;
    padding: 0;
    margin-block-start: 2rem;


}
@media screen and (min-width:45rem) {

    
    .title{
        font-size: clamp(2.25rem, 8vw + 1rem, 12rem);

    }

    .layout::before{
        font-size: clamp(2.25rem, 5vw + 1rem, 6rem);
        transform: translate(-120%,0 );
    
    }

    .layout h2{
        font-size: clamp(2.25rem, 5vw + 1rem, 6rem);
        font-weight: 100;
        /* letter-spacing: calc( -.275rem - .10vw); */
    }
    .layout p{
        max-width: 70rem;
        margin-block-start:0
    
    }


    .portrait{
        position: absolute;
        bottom: 0;
        width:21vw;
        /* height:75%; */
        max-width: unset;

        /* overflow: hidden; */
    }
    .portrait img{

        height:100%;
    
     
    }

    .span-one{
        margin:0;
    
    }
    .span-two{
        margin-left: 30vw;
    
    }
    .span-three{
        margin-left: 18vw;
    
    }
    .span-four{
        margin-left: 37vw;
    
    }



    .layout{
        margin-top: 10rem;


    }

    .two-col{
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }
     /* h2{
        text-transform: uppercase;
        font-size: clamp(2rem, 4vw + 1rem, 6rem);
        letter-spacing: -.2rem;
        font-weight: 200;
        margin:0
    } */



}

