


.hero{
    position: relative;

    
}

main{
    margin:0 6vw;
}




.title{
    font-size: clamp(2rem, 8vw + .5rem, 16rem);
    font-weight: 100;
    letter-spacing: -.4vw;
    text-transform: uppercase;
    line-height: clamp(2.5rem, 9vw, 12rem);
    margin: 2rem 0;
}

h1 span{
    display: inline-block;
    position: relative;
    z-index: 400;

}

.span-one{
    margin-left: 8vw;

}
.span-two{
    margin-left: 30vw;

}
.span-three{
    margin-left: 6vw;

}
.span-four{
    margin-left: 20vw;

}

.portrait{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* padding: 2rem; */
    max-width: 32rem;
    margin: auto;
    line-height: 0; /* removes little piece at bottom*/
    z-index: 100;

}

.portrait img{

    width: 100%;
    object-fit: cover;
 
}

.load-grid{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8,1fr);

}

#michael1{
    z-index: 1;
    position: relative;
}

#michael2{
    z-index: 0;
    position: absolute;
    left: 0;
    height:100%
}

.grid-item{
    opacity: 1;
    background-color: var(--color-primary-dark);
    pointer-events: none;
    
}




.card-image img{
width: auto;
    height: 100%;
    object-fit: contain;

}

.work{
    margin-block: 10rem;

}


.card{
    display: block;
    padding-block: 4rem;

    /* outline: 4px solid black; */
    height:min(70vh, 22rem);
    /* background-color:red; */
    overflow: hidden;
    /* margin:0 */
}
.proj-name{
    font-size: 8rem;
    font-weight: 200;
    letter-spacing: -.4rem;
    line-height: 8rem;
}

.proj-name span{
    display: block;

}



@media screen and (min-width:45rem) {

    
    .title{
        font-size: clamp(2.25rem, 8vw + 1rem, 12rem);

    }

    .portrait{
        position: absolute;
        bottom: 0;
        width:21vw;
        /* height:75%; */
        max-width: unset;

        /* overflow: hidden; */
    }
    .portrait img{

        height:100%;
    
     
    }

    .span-one{
        margin:0;
    
    }
    .span-two{
        margin-left: 30vw;
    
    }
    .span-three{
        margin-left: 18vw;
    
    }
    .span-four{
        margin-left: 37vw;
    
    }



    .about{
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }
    .about h2{
        /* text-transform: uppercase; */
        font-size: 4rem;
        letter-spacing: -.1rem;
        margin:0
    }



}

