

.hero{
    position: relative;

    
}

main{
    margin:0 6vw;

    counter-reset: section;
    
}



.title{
    font-size: clamp(2rem, 8vw + .5rem, 16rem);
    font-weight: 100;
    letter-spacing: -.4vw;
    text-transform: uppercase;
    line-height: clamp(2.5rem, 9vw, 12rem);
    margin: 2rem 0;
}

h1 span{
    display: inline-block;
    position: relative;
    z-index: 400;

}

.span-one{
    margin-left: 8vw;

}
.span-two{
    margin-left: 30vw;

}
.span-three{
    margin-left: 6vw;

}
.span-four{
    margin-left: 20vw;

}

.portrait{
    overflow: hidden;
    cursor: pointer;
    position: relative;
    /* padding: 2rem; */
    max-width: 32rem;
    margin: auto;
    line-height: 0; /* removes little piece at bottom*/
    z-index: 100;

}

.portrait img{

    width: 100%;
    object-fit: cover;
 
}

.load-grid{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8,1fr);

}

#michael1{
    z-index: 1;
    position: relative;
}

#michael2{
    z-index: 0;
    position: absolute;
    left: 0;
    height:100%
}

.grid-item{
    opacity: 1;
    background-color: var(--color-header);
    pointer-events: none;
    
}


.image-container img{
    width: 100%;
    height: 100%;
}


.proj-card{
    display: flex;
    padding-block:1rem;
    align-items: center;
    height:5rem;

}
.proj-card span{
    transform-origin:  left;
    font-size: 2rem;
    transition: .5s;



}

.proj-card:hover  span{
    transform: scale(1.25);
    transition: .5s;
    text-shadow: -.5px -.5px 0 ,
    .5px -.5px 0 ,
    -.5px .5px 0 ,
    .5px .5px 0 ;

}

.proj-links{
    margin-top: 3rem;

}


.layout{
    margin-block: 8rem;
    position: relative;
}

.image-container{
    display: none;
}


.layout h2{
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: -.175rem;
    margin: 0;
}


.layout p{
    font-size: 1.5rem;
    padding: 0;
    margin-block-start: 2rem;


}

label{
    font-size: 1.5rem;
}

.input-container{
    padding-block:1rem;

}
.contact-info{
    display: block;
    width:100%;
    background-color: transparent;
    border-style: none;
    border-bottom: 2px solid var(--color-text);
    font-size: 1.5rem;
    font-family: "univers-light";
    margin-block:1rem;
    color: var(--color-text);
}
:focus-visible{
    outline:3px solid rgb(255, 128, 0);
}

input:focus-visible{
    /* background-color: red; */
    outline:3px solid rgb(255, 128, 0);
    transition:border 0s;

}


.contact-container{
    margin-block: 2rem;
}


form .input-container:hover ~ #emoji .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    transform-origin: left;
    animation-iteration-count: infinite;

    display: inline-block;
}

.info-container{
    display: inline-block;
    width: 100%;

}


.submit{

width: 100%;
height:4rem;
font-size: 1.5rem;
text-transform: uppercase;
margin-top: 2rem;
background-color: var(--color-header);
color: var(--color-background);;
border-style: none;

}
.submit:hover{

    color: black;
    
    }


#emoji{
    margin-block: 2rem;
    font-size: clamp(1rem, 4vw + 1rem, 6rem);
}

@keyframes wave-animation {
    0% {
        transform: rotate( 0.0deg)
    }
    10% {
        transform: rotate(-25.0deg)
    }
    20% {
        transform: rotate(8.0deg)
    }
    30% {
        transform: rotate(-25.0deg)
    }
    40% {
        transform: rotate(4.0deg)
    }
    50% {
        transform: rotate(-19.0deg)
    }
    60% {
        transform: rotate( 0.0deg)
    }
    100% {
        transform: rotate( 0.0deg)
    }
}

@media screen and (min-width:32rem) {
    #emoji{
        position: absolute;
        top: 0;
        right:0;
    }

    .layout::before{
        counter-increment: section;
        content:"("counter(section)")";
        position: absolute;
        transform-origin: bottom left;
        font-size: clamp(2.25rem, 2vw + 1rem, 6rem);
        /* font-size: 2rem; */
        transform: translate(-120%,20% );
    }

}




@media screen and (min-width:45rem) {



    
    .title{
        font-size: clamp(2.25rem, 8vw + 1rem, 12rem);

    }

    .layout{
        margin-left: 4vw;
    }
    label{
        font-size: 2rem;
    }


    .layout::before{

        transform: translate(-120%,18% );
    }

    .layout h2{
        font-size: clamp(2.25rem, 4vw + 1rem, 6rem);
        font-weight: 100;
        letter-spacing: calc( -.2rem - .05vw);
    }
    .layout p{
        max-width: 70rem;
        margin-block-start:0
    
    }

    .image-container{
        display: block;
    }


    .portrait{
        position: absolute;
        bottom: 0;
        width:21vw;
        /* height:75%; */
        max-width: unset;

        /* overflow: hidden; */
    }
    .portrait img{

        height:100%;
    
     
    }

    .span-one{
        margin:0;
    
    }
    .span-two{
        margin-left: 30vw;
    
    }
    .span-three{
        margin-left: 18vw;
    
    }
    .span-four{
        margin-left: 37vw;
    
    }

    .layout{
        margin-top: 10rem;
 

    }
    .image-container{
        position: absolute;
        width: 50%;
        aspect-ratio: 16/9;
        right: 0;
        top: 0;

    }

    .image-container img{
        object-fit: cover;
        /* opacity: 50%; */
        width:100%;

   
    }

    
    #thumbnail{
        transition: all .4s ease;
        opacity: 0;
    }

    .two-col{
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }

    
.submit{

    padding: 0;
    float: right;
    width:10rem;
    height: 3.5rem;

}

    .info-container{

        width: clamp(8rem, 66vw, 50rem);
    }




}

