/* @import url(variables.css); */
:root[data-theme= "dark"]{
    --color-primary:white;
    --color-primary-dark:rgb(26, 26, 26);
    color:var(--color-primary);
    background-color: var(--color-primary-dark);

}

:root[data-theme= "light"]{
    --color-primary:rgb(26, 26, 26);
    --color-primary-dark:white;
    color:var(--color-primary);
    background-color: var(--color-primary-dark);

}

:root {
    font-family: "univers";
    --default-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}

body{
    margin:0 6vw;
    cursor: none;
    transition: var(--default-transition);
}
.hero{
    position: relative;
    
}


.title{
    font-size: clamp(2rem, 8vw + .5rem, 16rem);
    font-weight: 100;
    letter-spacing: -.4vw;
    text-transform: uppercase;
    line-height: clamp(2.5rem, 9vw, 12rem);
    margin: 2rem 0;
}

h1 span{
    display: inline-block;
    position: relative;
    z-index: 400;

}

.span-one{
    margin-left: 8vw;

}
.span-two{
    margin-left: 30vw;

}
.span-three{
    margin-left: 6vw;

}
.span-four{
    margin-left: 20vw;

}

.portrait{
    cursor: pointer;
    position: relative;
    max-width: 32rem;
    margin: auto;

    z-index: 100;

}

.portrait img{

    width: 100%;

    object-fit: cover;
 
}

.load-grid{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8,1fr);

}

#michael1{
    z-index: 1;
    position: relative;
}

#michael2{
    z-index: 0;
    position: absolute;
    left: 0;
}

.grid-item{
    opacity: 1;
    background-color: rgb(255, 255, 255);
    pointer-events: none;
    
}

a,ul,li{

    position: relative;        
    transition: translate() .5s;
}

.can-hover{
    /* transition: var(--default-e); */

}

#theme-switcher{
    /* transition: var(--default-transition); */

}



.card-image img{
width: auto;
    height: 100%;
    object-fit: contain;

}

.work{
    margin-top: 10rem;
    display: grid;
    gap:2rem;
}

.work p {
    max-width: 28rem;
}
.card{
    height:75vh;
    background-color: red;
    overflow: hidden;
}



@media screen and (min-width:45rem) {

    .cursor-container{
        position: fixed;
        z-index: 10000;

        pointer-events: none;
    }
    .cursor-parent{
        position: unset;

    }
    .cursor-item{
        position: absolute;
        width: .5rem ;
        height: .5rem ;
        /* transition: translate() .5s; */
    }
    .cursor-item:nth-child(1){
        border-top: 1.5px solid var(--color-primary);
        border-left: 1.5px solid var(--color-primary);
        top: 0;
        left: 0;

        /* left:0; */
        /* top:0; */
        /* transform: translate(100px,200px); */
        
        transition: .5s;

    }

    .cursor-item:nth-child(2){
        border-top: 1.5px solid var(--color-primary);
        border-right: 1.5px solid var(--color-primary);
/* 
        right:0;
        top:0; */
        top: 0;
        left: 100%;

        transition: .5s;

    }
    .cursor-item:nth-child(3){
        border-bottom: 1.5px solid var(--color-primary);
        border-left: 1.5px solid var(--color-primary);

 
        transition: .5s;
    }
    .cursor-item:nth-child(4){
        border-bottom: 1.5px solid var(--color-primary);
        border-right: 1.5px solid var(--color-primary);
        top: 100%;
        left: 100%;
        transition: .5s;
    }
    
    .title{
        font-size: clamp(2.25rem, 8vw + 1rem, 16rem);

    }

    .portrait{
        position: absolute;
        bottom: 0;
        width:21vw;
        height:75%;
        max-width: unset;

        /* overflow: hidden; */
    }
    .portrait img{

        height:100%;
    
     
    }

    .span-one{
        margin:0;
    
    }
    .span-two{
        margin-left: 30vw;
    
    }
    .span-three{
        margin-left: 18vw;
    
    }
    .span-four{
        margin-left: 37vw;
    
    }



    .about{
        margin-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }
    .about h2{
        text-transform: uppercase;
    }

    p{
        font-size: 1.25rem;
    }

    .work{
        grid-template-columns: 1fr 1fr;

    }

    /* .card{
        display: grid;
        grid-template-columns: 1fr 1.33fr;
    }

    .card-description{
        padding-top:8rem;
    }

    .right{
        grid-template-columns: 1.33fr 1fr;
    } */
}

@keyframes smooth{

}