:root{
    font-family: "univers";
    color: #333333;
}
html{
    scroll-behavior: smooth;
}

p{
    font-family: "univers-light";
}

a{
    color: #2C2C2C;
}

.upper{
    text-transform: uppercase;
}