
/* @import url(variables.css); */
:root[data-theme= "dark"]{
    --color-background:#1a1a1a;
    --color-header:white;
    --color-text: #b3b3b3;
    --color-cursor: #ffffff;
    color:var(--color-header);
    background-color: var(--color-background);

}

:root[data-theme= "light"]{
    --color-background: white;
    --color-header:#1a1a1a;
    --color-text: #4e4e4e;
    --color-cursor: #ffffff;
    color:var(--color-header);
    background-color: var(--color-background);

}

:root {
    font-family: "univers";
    --default-transition: color .3s ease-in-out, background-color .3s, ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}



html{
    scroll-behavior: smooth;

}
li,ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body{

}

.canvas1{

    position:absolute;

    z-index: 202202002;
    width: 100%;
    /* border: 3px solid red; */
    /* box-sizing: border-box; */
    pointer-events: none;
    mix-blend-mode: difference;
    margin: 0;
}

p,li,.proj-title,.primary-header a,.proj-card,label{
    font-family: "univers-light";
    /* font-size: 1.25rem; */
    color:var(--color-text);
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.can-hover:hover{
    transition: color cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    color:var(--color-header)
}


a{
    color: var(--color-primary);
    text-decoration: none;
}

.upper{
    text-transform: uppercase;
}

.nl{
    display: inline-block;
}
#theme-switcher{
    cursor:pointer
}


@media screen and (min-width: 30rem){
    P{
        font-size: calc(1.25rem + 10 * (100vw - 30rem) / 760);
    }
    

}


@media screen and (min-width: 77rem){
    P{
        font-size: 1.5rem
    }
    
}