
.flex {
  display: flex;
  flex-direction: row;
}
.primary-header {
  display: none;
  justify-content: flex-end;
  padding: 2rem 6vw;
  /* position: sticky; */

  top: 0;
  background-color: transparent;
  z-index: 100000;
}


.justify-start {
  margin-right: auto;
}

.icon {
  margin: 0 1rem;
}

nav {
  display: flex;
  /* align-items: center; */
  
}

ul {
  max-width: 100%;
}

.primary-nav {
  display: flex;
  /* gap: 1.5rem; */
  list-style: none;
  padding: 0;
  margin: 0;
}



.mobile-nav-toggle {
  display: none;
}


.primary-header a, #theme-switcher{
  display: inline;
  box-sizing: border-box;
  padding:1rem;

}

.primary-header li, .primary-header a,
footer {  
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
  font-family: "univers-light";
}

/* mobile nav styling */
@media (max-width: 42rem) {
  .primary-header {
    align-items: center;

  }

  .primary-nav {
    position: fixed;
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1000;
    padding: min(10vh, 10rem) 2rem;
    inset: 0 0 0 0;
    background-color: var(--color-primary-dark);
    transform: translateY(100%);
    transition: transform .6s cubic-bezier(.24,.85,.3,1)
    
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }


  .mobile-nav-toggle {
    display: block;
    z-index: 9999;
    background-color:transparent;
    /* background: no-repeat center/100% url("../images/burger.svg"); */
    height: 2rem;
    width: 2.5rem;
    border: 0;

  }

  .burger{
    transform: translate(-12%);
    fill:var(--color-primary);
  }



  .mobile-nav-toggle:hover,
  .mobile-nav-toggle:focus {
    background-color: var(--color-primary-dark);
  }
}